.search-range {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  .search-condition {
    display: flex;
    align-items: center;
    margin: 10px;
    div {
      font-size: 16px;
      white-space: nowrap;
    }
    .el-input  {
      font-size: 14px;
      width: 200px;
      max-width: 200px;
    }
  }
}
.btn-range {
  display: flex;
  flex-wrap: wrap;
  max-width: 300px;
  height: inherit;
  margin-left: 20px;
  padding-top: 8px;
  ::v-deep(.el-button) {
    margin: 0 10px 10px 0 !important;
  }
  ::v-deep(.el-button):nth-child(3n) {
    margin-right: 0 !important;
  }
}
::v-deep(.el-dialog) {
  padding: 10px;
}
::v-deep(.el-table ) thead {
  font-size: 15px;
}